__pycache__/
generated/
backup/
build/
dependencies.lock
sdkconfig
managed_components/
.vscode/
dump_repo.py
*.txt
  3.0
dist/
figma2lvgl.egg-info/
images/
pip
test_envtest_env/
ui_src/